.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 50px 40px 0 50px;
}

.order-summary {
  margin-top: 28px;
  font-size: 25px;
  color: #1C2B35;
}